.login_profile {
  width: 40%;
  border: 1px solid #c7ccc6;
  margin: 15px auto;
  border-radius: 10px;
}
.login_profile h1 {
  text-align: center;
  color: darkgrey;
  font-family: Georgia;
}
.check {
  text-align: center;
  padding: 20px;
  /*border: 1px solid black;*/
  margin: 30px;
}
.inputs_login label {
  font-family: Georgia;
  font-size: 15px;
}
.inputs_login input {
  border-radius: 5px;
}
.inputs_login {
  width: 30%;
  position: relative;
  left: 300px;
  /*border: 1px solid black;*/
}
.photo {
  position: relative;
  bottom: 150px;
  /*border: 1px solid black;*/
  width: 30%;
  left: 50px;
}
button {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 130px;
  height: 35px;
  font-size: 18px;
  font-family: Georgia;
  cursor: pointer;
  background: white;
}
button:hover {
  background: lightgray;
}
#picture {
  font-family: Georgia;
}
.picture {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: relative;
  left: 50px;
  bottom: 285px;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-family: Georgia;
  font-size: 18px;
  color: black;
  background-color: white;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: lightgray;
}
/*.inputfile:focus + label {*/
/*outline: 1px dotted #000;*/
/*outline: -webkit-focus-ring-color auto 5px;*/
/*}*/
.inputfile + label {
  cursor: pointer;
}