.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.login-div-main {
  box-sizing: border-box;
  max-width: 400px;
  min-width: 230px;
  margin: 10px auto;
  border: 2px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.login-div-main h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.login-inputs label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.login-input {
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  outline: 0;
}

.login-input:focus {
  border-color: #000;
}

.login-input:valid {
  background: rgb(250, 255, 189);
}

.login-buttons {
  text-align: center;
}

.login-buttons a {
  text-decoration: none;
  color: #fff;
  padding: 5px 5px;
}

.login-buttons .btn {
  color: #fff;
  border: 0;
  border-radius: 5px;
  background: #34d058;
  cursor: pointer;
  padding: 8px 16px;
  width: 100px;
  margin: 15px auto 10px;
  font-size: 16px;
}

.login-buttons .btn-sign-up {
  background: #4285f4;
}

.create-user {
  box-sizing: border-box;
  max-width: 700px;
  min-width: 330px;
  margin: 10px auto;
  border: 2px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.create-user h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.create-div-for-all-data {
  display: flex;
  flex-flow: row nowrap;
}

.create-photo {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.user-photo {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

.inputfile { /*I hid the input to show label how one button*/
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  background-color: #34d058;
  cursor: pointer;
  padding: 5px 16px;
  border-radius: 5px;
}

.create-user-data {
  width: 60%;
}

.create-user-data-input {
  margin-bottom: 10px;
  margin-left: 60px;
  display: block;
  box-sizing: border-box;
  width: 80%;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  outline: 0;
}

.create-user-data-input:focus {
  border-color: #000;
}

.create-user-data-input:valid{
  background: rgb(250, 255, 189);
}

.create-user-data label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: 60px;
}

@media (max-width: 576px) {
  .create-div-for-all-data {
    flex-wrap: wrap;
  }

  .create-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
  }

  .inputfile + label{
    text-align: center;
    margin-bottom: 10px;
  }

  .create-user-data {
    width: 100%;
  }

  .create-user-data-input{
    margin: 0 auto;
  }
}